asttokens==2.0.8
backcall==0.2.0
decorator==5.1.1
executing==1.1.1
ipython==8.5.0
jedi==0.18.1
Jinja2==3.1.2
jsonpickle==2.2.0
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
minify_html==0.10.2
networkx==2.8.7
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
plotly==5.10.0
prompt-toolkit==3.0.31
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.13.0
pyvis==0.2.1
six==1.16.0
stack-data==0.5.1
tenacity==8.1.0
traitlets==5.4.0
wcwidth==0.2.5
